p {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
}


#video-selector 
 {
    margin: 20px 5px 0 5px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0;
    margin-top: 60px;
    padding-top: 20px;
}

.video_container{
    margin-top: 20px;
    margin-bottom: 40px;
}

.images {
    width: 295px;
    height: 175px;
    margin-bottom: 5px;
}

.video-description {
    display: inline-flex;
    flex-direction: row;
}

.video-details {
    width: 200px;
    margin-top: 3px;
    margin-left: 10px;
    justify-self: flex-end;
}

.video-title {
    font-weight: normal;
    color: blue;
    margin-bottom: 5px;
}

#logo-container{
    margin-left: 75px;
}